doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport', content='initial-scale=1.0, width=device-width')
        link(rel='icon', type='image/png', href=require('images/favicon.png'))
        title
            block title
        block head
    body
        mixin menu(currentUrl)
            nav.navbar.navbar-custom.navbar-toggleable-md
                button.navbar-toggler.navbar-toggler-right(
                type='button'
                data-toggle='collapse'
                data-target='#navbarTogglerId'
                aria-controls='navbarTogglerId'
                aria-expanded='false'
                aria-label='Toggle navigation'
                )
                    span.fa.fa-bars
                a.navbar-brand.mr-0(href='/')
                    img.d-inline-block.align-top(src=require('images/logo.png') width='30' height='30')
                    //| МодульБетон

                div#navbarTogglerId.collapse.navbar-collapse
                    ul.container.navbar-nav.mr-auto
                        - var menuList = [{name:'Главная', url:'/'},{name:'Бетон и раствор', url:'/products.html'},{name:'Доставка', url:'#'},{name:'Контакты', url:'#', icon:'play'}]
                        each item in menuList
                            li.nav-item
                                a.nav-link(class={active: currentUrl === item.url} href=item.url)
                                    span= ' ' + item.name

        mixin section(title)
            .section
                .section__head
                    h3.section__title= title
                .section__body
                    block

        block main