.menu
    nav.navbar.container.navbar-expand-lg.menu__wrapper
        a.navbar-brand.menu__brand(href='index.html')
            img.d-inline-block.align-top.mr-2(src=require('images/logo.svg') width=30 height=30)
            | Модуль&middot;Бетон
        button.navbar-toggler.mt-1(
        type='button'
        data-toggle='collapse'
        data-target='#navbarTogglerId'
        aria-controls='navbarTogglerId'
        aria-expanded='false'
        aria-label='Toggle navigation'
        )
            span.fa.fa-bars
        #navbarTogglerId.collapse.navbar-collapse
            ul.navbar-nav.mr-auto
                li.nav-item.menu__item
                    a.nav-link.menu__link(href='index.html') Продукция
                li.nav-item.menu__item
                    a.nav-link.menu__link(href='#') Доставка
                li.nav-item.menu__item
                    a.nav-link.menu__link(href='#') О нас
                li.nav-item.menu__item
                    a.nav-link.menu__link(href='contact.html')
                        i.fa.fa-bolt
                        | Контакты
            .nav-item.menu__item
                div.text-center
                    a.nav-link.d-inline-block.menu__phone.menu__phone_lg(href='tel:+375296933700') +375 (29) 332 22 11